/ * 
    CSS Projeto Automação Residencial
    FILIPEFLOP Componentes Eletronicos
* /

raiz { 
    exibição: bloco;
}

corpo {
    margem: 0;
    preenchimento: 0;
}

#embrulho {
    padding-top: 40px;
    posição: relativa;
    largura: 530px;
    altura: 600px;
	margem direita: auto;
	margin-top: 0;
	margem esquerda: auto;
        font-size: 30px;
        cor preta;
        texto-alinhamento: centro;
        font-family: arial;
}

div.rele1_ligado {
    posição: absoluta;
    direita: -110px;
    topo: 220px;
    largura: 300px;
    altura: 206px;
    fronteira: nenhuma;
		margem: auto;
    background: url (lampada_ligada.png) não repete o top esquerdo;
}

div.rele1_desligado {
    posição: absoluta;
    direita: -110px;
    topo: 220px;
    largura: 300px;
    altura: 206px;
    fronteira: nenhuma;
	background: url (lampada_desligada.png) não repete o top esquerdo;
}

div.rele2_ligado {
    posição: absoluta;
    direita: -110px;
    topo: 387px;
    largura: 300px;
    altura: 206px;
    fronteira: nenhuma;
    background: url (lampada_ligada.png) não repete o top esquerdo;
}

div.rele2_desligado {
    posição: absoluta;
    direita: -110px;
    topo: 387px;
    largura: 300px;
    altura: 206px;
    fronteira: nenhuma;
	background: url (lampada_desligada.png) não repete o top esquerdo;
}

# div1 {
	posição: absoluta;
	direito: 85px;
	topo: 195px;
    raio de borda: 25px;
    borda: 2px sólido # 000000;
    largura: 350px;
    altura: 150px; 
}

# div2 {
	posição: absoluta;
	direito: 85px;
	topo: 355px;
    raio de borda: 25px;
    borda: 2px sólido # 000000;
    largura: 350px;
    altura: 150px; 
}

#botao {
    posição: absoluta;
    direito: 230px;
    topo: 250px;
	 largura: 200px;
    altura: 256px;
}

.botao {
	-moz-box-shadow: inserir 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inserir 0px 1px 0px 0px #ffffff;
	box-shadow: inserir 0px 0px 0px 0px #ffffff;
	background: -webkit-gradient (linear, esquerda superior, inferior esquerda, cor-stop (0.1, # 16ADFF), color-stop (1, # 26A8FF));
	background: -moz-linear-gradient (centro superior, # 16ADFF 5%, # 26A8FF 100%);
	filtro: progid: DXImageTransform.Microsoft.gradient (startColorstr = '# 16ADFF', endColorstr = '# 26A8FF');
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	raio de borda: 6px;
	borda: 1px sólido #dcdcdc;
	exibição: bloco em linha;
	cor: #ffffff;
	font-family: arial;
	font-size: 28px;
	intensidade da fonte: Negrito;
	preenchimento: 10px 40px;
	text-decoration: none;
	text-shadow: 0px 0px 0px #ffffff;
        largura: 100px;
        texto-alinhamento: centro;
}

} .botao: ativo {
	posição: relativa;
	topo: 1px;
}

# botao_2 {
    posição: absoluta;
    direito: 230px;
    topo: 417px;
	 largura: 200px;
    altura: 256px;
}

.botao_2 {
	-moz-box-shadow: inserir 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inserir 0px 1px 0px 0px #ffffff;
	box-shadow: inserir 0px 0px 0px 0px #ffffff;
	background: -webkit-gradient (linear, esquerda superior, inferior esquerda, cor-stop (0.1, # 16ADFF), color-stop (1, # 26A8FF));
	background: -moz-linear-gradient (centro superior, # 16ADFF 5%, # 26A8FF 100%);
	filtro: progid: DXImageTransform.Microsoft.gradient (startColorstr = '# 16ADFF', endColorstr = '# 26A8FF');
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	raio de borda: 6px;
	borda: 1px sólido #dcdcdc;
	exibição: bloco em linha;
	cor: #ffffff;
	font-family: arial;
	font-size: 28px;
	intensidade da fonte: Negrito;
	preenchimento: 10px 40px;
	text-decoration: none;
	text-shadow: 0px 0px 0px #ffffff;
        largura: 100px;
        texto-alinhamento: centro;
}

} .botao_2: ativo {
	posição: relativa;
	topo: 1px;
}
